input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}
input[type="email"]:focus {
    border: 1px solid #4CAF50;
    outline: none;
}
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}
input[type="password"]:focus {
    border: 1px solid #4CAF50;
    outline: none;
}
#new{
    margin: 0 20px 0 10px;
}
#old{
    margin: 0 20px 0 10px;
}
#pass{
    margin: 0 10px 0 10px;
}